@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.home {
    background-color: #edf0f9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        -webkit-box-shadow: -1px 11px 18px 4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 11px 18px 4px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 11px 18px 4px rgba(0, 0, 0, 0.75);

        @include tablet {
            width: 90%;
        }

        .chat {
            flex: 3;

            .chat__info {
                height: 50px;
                // background-color: #088345;
                background-color: #0cbd64;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: white;

                .chat__icons {
                    display: flex;
                    gap: 10px;
                    cursor: pointer;
                    position: relative;

                    .button__camera {
                        justify-content: center;
                        align-items: center;
                        border: none;
                        background-color: #0cbd64;
                        border-radius: 10px;
                        cursor: pointer;

                    }

                    .camera {
                        position: fixed;
                        right: 30px;
                        bottom: 30px;
                        border-radius: 50%;
                        z-index: 111;
                    }

                    .menu {
                        padding: 10px 16px;
                        background-color: #0cbd64;
                        display: flex;
                        gap: 15px;
                        position: absolute;
                        z-index: 99;
                        top: 36px;
                        right: -10px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        box-shadow: 4px 28px 31px -8px rgb(0 0 0 / 75%);
                        transition: all 1s ease;

                        .menu__btn {
                            background-color: #ccf4cf;
                            border: none;
                            border-radius: 5px;
                            padding: 5px 10px;
                            border: 1px solid transparent;
                            width: 63px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            text-align: center;

                            &.active {
                                background-color: #f5f5f5;
                                border: 1px solid #000;
                            }

                            img {
                                width: 25px;
                                height: 25px;
                                object-fit: cover;
                                border-radius: 50%;
                            }

                            .menu__icon {
                                font-size: 16px;
                            }

                            .menu__text {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            .messages {
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;


                    .message__info {
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }


                    .message__content {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        // .typingindicator__content {
                        //     visibility: hidden;

                        //     .typingindicator__container {
                        //         display: flex;
                        //         flex: none;
                        //         align-items: flex-end;
                        //         // margin: $spacing4 0;


                        //         .typingindicator__bubble {
                        //             display: flex;
                        //             align-items: center;
                        //             justify-content: center;
                        //             width: 52px;
                        //             height: 40px;
                        //             margin: 0px 8px;
                        //             background-color: #f0f1f1;
                        //             border-radius: 12px;


                        //             .typingindicator__bubble--dot {
                        //                 width: 4px;
                        //                 height: 4px;
                        //                 margin-right: 4px;
                        //                 background-color: #57585a;
                        //                 border-radius: 50%;
                        //                 animation-name: bounce;
                        //                 animation-duration: 1.3s;
                        //                 animation-timing-function: linear;
                        //                 animation-iteration-count: infinite;
                        //             }

                        //             .typingindicator__bubble--dot:first-of-type {
                        //                 margin: 0px 4px;
                        //             }

                        //             .typingindicator__bubble--dot:nth-of-type(2) {
                        //                 animation-delay: 0.15s;
                        //             }

                        //             .typingindicator__bubble--dot:nth-of-type(3) {
                        //                 animation-delay: 0.3s;
                        //             }

                        //             @keyframes bounce {

                        //                 0%,
                        //                 60%,
                        //                 100% {
                        //                     transform: translateY(0);
                        //                 }

                        //                 30% {
                        //                     transform: translateY(-4px);
                        //                 }
                        //             }
                        //         }
                        //     }
                        // }

                        p {
                            // background-color: white;
                            background-color: #0cbd64;
                            color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                        }


                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .message__content {
                            align-items: flex-end;

                            p {
                                // background-color: #8da4f1;
                                background-color: #969699;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }


                    }

                    .typingindicator__content {
                        // visibility: hidden;

                        .typingindicator__container {
                            display: flex;
                            flex: none;
                            align-items: flex-end;
                            // margin: $spacing4 0;


                            .typingindicator__bubble {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 52px;
                                height: 40px;
                                margin: 0px 8px;
                                background-color: #f0f1f1;
                                border-radius: 12px;


                                .typingindicator__bubble--dot {
                                    width: 4px;
                                    height: 4px;
                                    margin-right: 4px;
                                    background-color: #57585a;
                                    border-radius: 50%;
                                    animation-name: bounce;
                                    animation-duration: 1.3s;
                                    animation-timing-function: linear;
                                    animation-iteration-count: infinite;
                                }

                                .typingindicator__bubble--dot:first-of-type {
                                    margin: 0px 4px;
                                }

                                .typingindicator__bubble--dot:nth-of-type(2) {
                                    animation-delay: 0.15s;
                                }

                                .typingindicator__bubble--dot:nth-of-type(3) {
                                    animation-delay: 0.3s;
                                }

                                @keyframes bounce {

                                    0%,
                                    60%,
                                    100% {
                                        transform: translateY(0);
                                    }

                                    30% {
                                        transform: translateY(-4px);
                                    }
                                }
                            }
                        }
                    }

                }
            }

            .input {
                // height: 50px;
                background-color: white;
                // padding: 10px;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                -webkit-box-shadow: 4px 3px 17px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 4px 3px 17px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 4px 3px 17px 0px rgba(0, 0, 0, 0.75);
                width: 80%;
                margin: 0 auto;
                border-radius: 10px;
                position: relative;

                .abc {
                    padding: 45px 10px;
                }


                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;



                    &::placeholder {
                        color: lightgray;
                    }
                }

                .input__menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    position: absolute;
                    top: -93px;
                    right: 28px;
                    gap: 10px;

                    .input__menu-icon {
                        font-size: 18px;
                        transition: all 1s ease;

                        &:hover {
                            transform: scale(1.5);
                            cursor: pointer;
                        }
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: 10px;
                    cursor: pointer;

                    .send__icon {
                        color: rgb(85, 85, 221);
                    }
                }
            }

            // .typingindicator__content {
            //     // visibility: hidden;

            //     .typingindicator__container {
            //         display: flex;
            //         flex: none;
            //         align-items: flex-end;
            //         // margin: $spacing4 0;


            //         .typingindicator__bubble {
            //             display: flex;
            //             align-items: center;
            //             justify-content: center;
            //             width: 52px;
            //             height: 40px;
            //             margin: 0px 8px;
            //             background-color: #f0f1f1;
            //             border-radius: 12px;


            //             .typingindicator__bubble--dot {
            //                 width: 4px;
            //                 height: 4px;
            //                 margin-right: 4px;
            //                 background-color: #57585a;
            //                 border-radius: 50%;
            //                 animation-name: bounce;
            //                 animation-duration: 1.3s;
            //                 animation-timing-function: linear;
            //                 animation-iteration-count: infinite;
            //             }

            //             .typingindicator__bubble--dot:first-of-type {
            //                 margin: 0px 4px;
            //             }

            //             .typingindicator__bubble--dot:nth-of-type(2) {
            //                 animation-delay: 0.15s;
            //             }

            //             .typingindicator__bubble--dot:nth-of-type(3) {
            //                 animation-delay: 0.3s;
            //             }

            //             @keyframes bounce {

            //                 0%,
            //                 60%,
            //                 100% {
            //                     transform: translateY(0);
            //                 }

            //                 30% {
            //                     transform: translateY(-4px);
            //                 }
            //             }
            //         }
            //     }
            // }
        }

        .sidebar {
            flex: 2;
            background-color: #e2e5f0;
            border-left: 1px solid rgb(99, 101, 99);
            position: relative;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #088345;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                align-items: center;
                color: white;

                .user {
                    display: flex;
                    gap: 10px;




                    img {
                        background-color: #e2e5f0;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        position: relative;
                    }

                    .user__wrapper {
                        position: absolute;
                        background: #0cbd64;
                        width: 12px;
                        height: 12px;
                        z-index: 99;
                        top: 8;
                        border-radius: 50%;
                        left: 4px;

                    }
                }

                button {
                    background-color: #3eb579;
                    color: #ddddf7;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    padding: 5px 8px;
                    border-radius: 5px;

                    @include tablet {
                        position: absolute;
                        bottom: 10px;
                    }
                }
            }

            .search {
                border-bottom: 1px solid gray;

                .search__form {
                    padding: 10px;
                    position: relative;


                    .searct__icon {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        color: rgb(27, 27, 27);
                    }

                    input {
                        background-color: #acacaf;
                        border: none;
                        border-radius: 5px;
                        outline: none;
                        padding: 5px 5px 5px 25px;
                        width: 90%;

                        &::placeholder {
                            color: rgb(27, 27, 27);
                        }
                    }

                }
            }

            .user-chat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #2f2d52;
                // color: white;
                cursor: pointer;
                transition: all 1s ease;
                position: relative;

                &:hover {
                    background-color: #0cbd64;
                    color: white;
                    border-radius: 5px;
                }

                .online {
                    background: red;
                }

                .offline {
                    background: blue;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;

                }

                // .counter {
                //     position: absolute;
                //     background-color: #088345;
                //     top: 0px;
                //     padding: 2px;
                //     border-radius: 50%;
                //     font-size: 11px;
                //     color: white;
                // }

                .user__chat--info {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        color: rgb(144, 141, 141);
                        // transition: all 1s ease;

                        .media {
                            font-size: 14px;
                            color: rgb(144, 141, 141);
                            display: flex;
                            align-items: center;
                            text-align: center;

                            .media__icon {
                                margin-left: 7px;
                            }
                        }
                    }

                }
            }
        }
    }
}